# Editors
.vscode/
.idea/
*/.idea/

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
lib/
bin/
include/
.pyvenv.cfg

# pytest
.cache/

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

